.dayCard {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;
    width: 12%;
    padding: 2%;
}

.dayCardHead {
    border-bottom: solid black;
    height: 10%;
}

.dayCardBody {
    height: 400px;
    overflow: auto;
}