.userLoginForm{
    max-width: 400px;
    border: 10px;
    border-color:black;
    margin: 33%;
}

#userButton{
    border : 0px;
    background: none;
    font-size:12px;
}

#emailForm{  
    font-size:12px;
}

#passwordForm{
    font-size:12px;
}

#confirmForm{
    font-size:12px;
}