.navbar {
  background-color: rgb(255, 241, 115);
  
}

.nav-link {
  float: right;
  margin: 1px;
  border-bottom: 3px solid rgb(19, 204, 250);
}

#home-button{
  padding: 5;
  margin-right: 3;
  font-weight: bold;
}